/**
 * Configure Tailwind v4 in this file using CSS variables and directives:
 * https://tailwindcss.com/blog/tailwindcss-v4-alpha#css-first-configuration
 */

@import 'tailwindcss';
@import "flowbite/src/themes/default";
@theme {
  --breakpoint-xs: 20rem;
  --breakpoint-2xl: 100rem;
  --breakpoint-3xl: 120rem;
}
.oldstyle-nums {
  font-feature-settings: "onum" 1;
}